@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@import url("https://fonts.google.com/specimen/Outfit");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
:root {
    /*--typeface--*/
    --main-font: "Outfit";
    --title-font: "Young Serif";
    --main-size: 16px;
    /*--Colors--*/
    --section-background: hsl(0, 0%, 100%);
    --div-description: hsl(330, 100%, 98%);
    --main-background: hsl(330, 100%, 98%);
    --text-white: hsl(24, 5%, 18%);
    --text-tilte: hsl(30, 10%, 34%);
    --sub-title: hsl(14, 45%, 36%);
    --title-cont: hsl(332, 51%, 32%);
  }

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    background-color: var(--main-background);
    font-size: var(--main-size);
    display: flex;
}

.main-container{
    width: 52%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
  }

  .ntf-container{
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--section-background);
  }

  .container-image{
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
  }

  .image{
    height: 100%;
    width: 100%;
  }

  .title-container{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .title{
    font-family: var(--title-font);
    color: var(--text-white);
    font-weight: 400;
    font-size: 32px;
  }

  .description-container{
    background-color: var(--div-description);
    padding: 1rem;
    border-radius: 20px;
  }

  .description-container h2{
    color: var(--title-cont);
    margin-left: 20px;
  }

  .description-container span{
    font-weight: bold;
  }

  .ingredientes h1{
    font-family: var(--title-font);
    color: var(--sub-title);
    font-weight: 400;
    font-size: 32px;
  }

  .ingredientes ol, ul{
    line-height: 2;
    padding-left: 1.5rem;
  }

  .ingredientes ol span{
    font-weight: bold;
  }

  .ingredientes ol li,
  .ingredientes ul li{
    padding-left: 1rem;
  }

  .ingredientes ol li::marker,
  .ingredientes ul li::marker{
    color: var(--sub-title);
  }



  .ingredientes div{
    display:flex;
    width: 100%;
    height: 1px;
    background-color: var(--sub-title);
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 25%;
  }

  .nurticion h1{
    font-family: var(--title-font);
    color: var(--sub-title);
    font-weight: 700;
    font-size: 32px;
  }

  .nurticion p{
    color: var(--text-tilte);
  }


  .contenedor {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background-color: transparent;
    padding: 1rem;
  } 


  .celda {
    padding: 1rem;
    background-color: var();
    display: flex;
    font-weight: bold;
    color: var(--text-white);
  }

  .celda2 {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--sub-title);
  }

  .celda,
  .celda2 {
  border-bottom: 1px solid rgb(194, 192, 192);
  }

  .celda:nth-last-child(-n+2),
  .celda2:nth-last-child(-n+2) {
  border-bottom: none;
  }



  @media(max-width: 768px) {


    .main-container{
      width: 75%;
      max-width: 100%;
      margin: 0 auto;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  
    .ntf-container{
      padding: 2rem;
      border-radius: 20px;
      background-color: var(--section-background);
    }

    .container-image{
      width: 100%;
      height: auto;
      border-radius: 20px;
      overflow: hidden;
    }
  
    .image{
      height: 100%;
      width: 100%;
    }

  }

  @media(max-width: 376px) {
    body{
      margin: 0px;
    }

    .main-container{
      width: 100%;
      max-width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .ntf-container{
      padding: 2rem;
      border-radius: 0px;
      background-color: var(--section-background);
    }

    .container-image{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: auto;
      border-radius: 0px;
      overflow: hidden;
    }
  
    .image{
      height: 100%;
      width: 100%;
    }

    .title-container{
      margin-top: 10rem;
      margin-bottom: 10px;
    }
  
  }

  



