---
import '../styles/global.css'
import Section1 from '../Components/Section1.astro'
import Listas from '../Components/Listas.astro'
import Sub from '../Components/Sub.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/assent/images/favicon-32x32.png"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Front-Mentor</title>
	</head>
	<body>
		<main class="main-container">
			<section class="ntf-container">
				<Section1/>
				<Listas/>
				<Sub/>
			</section>
		</main>
	</body>
</html>
