---
import '../styles/global.css'
---

<div class="container-image" >
    <img class="image" src="assent/images/image-omelette.jpeg" alt="img1"/>
</div>

<div class="title-container">
    <h1 class="title">Simple Omelette Recipe</h1>
</div>

<p>  An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked 
    to perfection, optionally filled with your choice of cheese, vegetables, or meats.</p>

<div class="description-container">
<h2>Preparation time</h2>
<ul>
    <li><span>Total:</span> Approximately 10 minutes</li>
    <li><span>Preparation:</span> 5 minutes</li>
    <li><span>Cooking:</span> 5 minutes</li>
</ul>
</div>