---
import '../styles/global.css'
---
<section class="nurticion">
    <h1>Nutrition</h1>
    <p>The table below shows nutritional values per serving without the additional fillings.</p>
        <div class="contenedor">
            <div class="celda">Calories</div>
            <div class="celda">277kcal</div>
            <div class="celda">Carbs</div>
            <div class="celda"> 0g</div>
            <div class="celda">Protein</div>
            <div class="celda">20g</div>
            <div class="celda">Fat</div>
            <div class="celda">22g</div>
          </div>
</section>